<h2>Nouvelle réservation reçue</h2>

<p><strong>Prénom :</strong> <%= @booking.first_name %></p>
<p><strong>Nom :</strong> <%= @booking.last_name %></p>
<p><strong>Numéro de téléphone :</strong> <%= @booking.phone %></p>
<p><strong>Email :</strong> <%= @booking.email %></p>
<p><strong>Adresse de départ :</strong> <%= @booking.pickup_address %></p>
<p><strong>Destination :</strong> <%= @booking.destination %></p>
<p><strong>Date :</strong> <%= @booking.date %></p>
<p><strong>Heure :</strong> <%= @booking.time %></p>
<p><strong>Nombre de passagers :</strong> <%= @booking.people %></p>
<p><strong>Nombre de bagages :</strong> <%= @booking.bags %></p>
<p><strong>Message :</strong> <%= @booking.comment %></p>
