<div class="container-fluid p-0">
  <div class="card-main">
    <div class="col-md-8">
    <h3>Trajets Professionnels</h3>
    <p>Vous avez besoin de vous rendre à votre lieu de travail mais vous n'avez pas le transport pour le faire ? Taxi Master vous accompagne sur l'aller et le retour de tous vos trajets professionnels en toute sérénité.
    Que ce soit pour un déplacement quotidien, une mission ponctuelle ou un rendez-vous important, notre service de transport vous garantit confort, ponctualité et sécurité. Nos chauffeurs expérimentés connaissent parfaitement la région et s'engagent à vous offrir une expérience agréable tout au long de votre trajet.
    </p>
    <p>
    En choisissant Taxi Master, vous évitez les contraintes des transports en commun, les embouteillages stressants et les soucis de stationnement. Vous pouvez ainsi vous concentrer pleinement sur votre activité professionnelle tout en bénéficiant d'un service personnalisé et adapté à vos besoins spécifiques.
    Que vous soyez salarié, indépendant ou chef d'entreprise, nous mettons tout en œuvre pour faciliter vos déplacements professionnels, peu importe la distance, et vous assurer un trajet agréable.
    </p>
    </div>
    <div class="col-md-4">
      <%= image_tag('taxi2.jpg', alt: 'Trajets professionnels') %>
    </div>
  </div>

  <div class="card-main">
    <div class="col-md-4">
      <%= image_tag('taxi3.jpg', alt: 'Trajets Privés') %>
    </div>
    <div class="col-md-8">
    <h3>Trajets Privés</h3>
    <p>
      Pour une sortie entre amis, un dîner en famille ou un événement spécial, Taxi Master vous propose un service de transport souple et adapté à vos besoins. Nos chauffeurs vous accompagnent avec courtoisie et discrétion, garantissant un trajet agréable dans un véhicule confortable.
      Évitez les contraintes de stationnement et les longs trajets en transports en commun en optant pour une solution pratique et rapide. Que ce soit pour une courte distance ou une escapade plus longue, nous assurons vos déplacements en toute simplicité.
    </p>

    <p>
      Pour tout vos trajets privés, comptez sur nous pour vous ramener en toute sécurité, vous permettant de profiter pleinement de votre moment sans stress.
      Avec Taxi Master, chaque déplacement devient une expérience agréable et sans tracas.
    </p>
    </div>
  </div>

  <div class="card-main">
    <div class="col-md-8">
    <h3>Trajets touristiques</h3>
    <p>Se déplacer dans une ville que nous ne connaissons pas n'est pas toujours facile.
      Découvrez les plus beaux sites de la région sans vous soucier du transport grâce à Taxi Master. Que vous soyez de passage ou en séjour prolongé, nos chauffeurs expérimentés vous accompagnent pour explorer les lieux incontournables tout en profitant du confort et de la tranquillité de nos véhicules.

      De la visite des monuments historiques aux balades en pleine nature, nous vous offrons un service personnalisé pour rendre chaque excursion unique.
    </p>
    <p>
      Nos chauffeurs connaissent parfaitement la région et peuvent vous conseiller des itinéraires adaptés à vos envies. Que vous souhaitiez découvrir le centre-ville, les paysages environnants ou des destinations plus reculées, nous vous garantissons une expérience fluide et agréable.

      Avec Taxi Master, voyagez à votre rythme et profitez pleinement de votre séjour, le tout en toute sécurité et sérénité.
    </p>
    </div>
    <div class="col-md-4">
      <%= image_tag('taxi4.jpg', alt: 'Trajets touristiques') %>
    </div>
  </div>

  <div class="card-main">
    <div class="col-md-4">
      <%= image_tag('taxi5.png', alt: 'Trajets médicaux') %>
    </div>
    <div class="col-md-8">
    <h3>Trajets médicaux</h3>
    <p>
      Parce que vos déplacements vers les établissements de santé doivent se faire en toute sérénité, Taxi Master vous propose un service de transport médical fiable et confortable. Que ce soit pour un rendez-vous chez un spécialiste, une consultation régulière ou une hospitalisation, nous veillons à ce que chaque trajet soit effectué avec ponctualité et bienveillance.
    </p>
    <p>
      Nos chauffeurs, formés pour accompagner les personnes ayant des besoins spécifiques, vous assurent une prise en charge attentive et discrète. Nous comprenons l'importance de ces déplacements et mettons tout en œuvre pour rendre votre trajet le plus agréable possible.

      Que vous voyagiez seul ou accompagné, nous adaptons notre service à votre situation. Vous pouvez compter sur nous pour vous conduire à destination en toute sécurité et dans le respect de vos contraintes horaires.
    </p>
    </div>
  </div>

  <div class="card-main">

    <div class="col-md-8">
    <h3>Aéroports et Gares</h3>
    <p>
      Voyagez l'esprit léger avec Taxi Master, votre partenaire de confiance pour tous vos trajets depuis et vers les aéroports et les gares. Que vous partiez en voyage d'affaires ou en vacances, nous assurons votre transport avec ponctualité et confort, en tenant compte de vos horaires de départ et d'arrivée.
    </p>
    <p>
      Évitez le stress des embouteillages, des parkings coûteux et des retards imprévus. Nos chauffeurs professionnels vous déposent directement devant le terminal ou la gare, vous garantissant une arrivée à l'heure et sans tracas. À votre retour, nous vous attendons à l'heure convenue, prêts à vous accompagner jusqu'à votre domicile ou votre lieu de séjour.
    </p>
    <p>
      Nos véhicules spacieux et bien entretenus peuvent accueillir vos bagages, y compris les valises volumineuses. Pour un voyage encore plus serein, notre système de réservation en ligne vous permet de planifier votre trajet en quelques clics.
      Avec Taxi Master, profitez d'un transfert fluide, sécurisé et agréable, du départ jusqu'à l'arrivée.
    </p>
    </div>
    <div class="col-md-4">
      <%= image_tag('taxi6.jpg', alt: 'Aéroports et Gares') %>
    </div>
  </div>

  <div class="card-main">
    <div class="col-md-4">
      <%= image_tag('taxi7.jpg', alt: 'Trajets en groupe') %>
    </div>
    <div class="col-md-8">
    <h3>Trajets en groupes</h3>
    <p>
      Voyagez ensemble en toute simplicité avec Taxi Master ! Que ce soit pour une sortie entre amis, un événement familial ou un déplacement professionnel en équipe, nous vous proposons des solutions de transport adaptées à tous vos besoins.

      Grâce à nos véhicules spacieux et confortables pouvant accueillir des groupes de toutes tailles, nous vous garantissons à chacun de voyager dans les meilleures conditions, sans compromis sur le confort.
    </p>
    <p>
      Nous nous adaptons à vos horaires et à votre itinéraire pour vous offrir un service flexible et personnalisé. Plus besoin de multiplier les véhicules ou de vous soucier de la logistique : notre équipe se charge de tout, pour que vous puissiez profiter pleinement de votre trajet, ensemble et en toute sérénité.

      Avec Taxi Master, voyagez à plusieurs, tout en bénéficiant d'un transport fluide, ponctuel et convivial.
    </p>
    </div>
  </div>


</div>
